#topo{
    width: 100%;
    background-color: lightblue;
    height: 30px;
}
.largura-site{
    width: 900px;
    margin: auto; /*centraliza na pagina*/
}
#logotipo{
    width: 140px;
    height: 24px;
    float: left;
    
}
#menu{
    width: auto;
    height: auto;
    float: right;
}
#menu a{
    color: azure;
    font-size: 16px;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-left: 20px;
}
#menu a:hover{
    text-decoration: wavy;

}